<h1> Мои работники:</h1>
@{
    foreach (var employee in Model.GetMyEmployees)
    {
        <div>
            <h2> Фамилия: @employee.FirstName</h2>
            <h2> Имя: @employee.Name</h2>
            <h2> Телефон: @employee.PhoneNumber</h2>
            <h2> </h2>
        </div>
    }
}
